@model IEnumerable<BookModel>

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Book</a></li>
            <li class="breadcrumb-item active" aria-current="page">GetAllBooks</li>
        </ol>
    </nav>
}
<table class="table table-dark table-borderless md-3">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Book Name
            </th>
            <th>
                Author Name
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {

        <tbody>
            <tr>
                <td>
                    @item.id
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Author
                </td>
            </tr>
        </tbody>

    }
</table>
<div class="container">
    <h3 class="display-4">All Books</h3>
    <div class="row">

        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <div class="card col-md-4" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">@book.Title</h3>
                        <p class="card-text">@book.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="~/Book/GetBook/@book.id" class="btn btn-sm btn-outline-secondary">Know More</a>
                            </div>
                            <small class="text-muted">@book.Author</small>
                        </div>
                    </div>
                </div>
            </div>
        }



    </div>
</div>
